SIGNER_LISTEN_HOST=127.0.0.1
SIGNER_PORT=8787
SIGNER_TOKEN=REPLACE_WITH_THE_SAME_SIGNER_TOKEN_AS_GATEWAY
RESOURCE_PRIVATE_KEY=REPLACE_WITH_RESOURCE_WALLET_PRIVATE_KEY
RESOURCE_OWNER_ADDRESS=T_REPLACE_WITH_PUBLIC_RESOURCE_ADDRESS
SIGNER_MAX_DELEGATE_SUN=100000000
